@charset "UTF-8";

.content {
    width: 300px;
  }
  
  .content:nth-child(1) {
    background-color: #f4f6f9;;
  }
  
  .content:nth-child(2) {
    background-color: #f4f6f9;;
  }
  
  .content:nth-child(3) {
    background-color: #f4f6f9;;
  }
  
  .content:nth-child(4) {
    background-color: #f4f6f9;;
  }
  
  /* スライドレールの枠 */
  .wrap {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 340px; 
    margin-bottom: 100px;
  }
  
  /* content4つをまとめたスライドブロック */
  .slideshow {
    display: flex;
    -webkit-animation: loop-slide 20s infinite linear 1s both;
    animation: loop-slide 20s infinite linear 1s both;
  }
  
  @-webkit-keyframes loop-slide { 
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  @keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  } 
  
  /* ホバー時に動きを止める（パターン2・3）*/
  .slide-paused:hover .slideshow {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }
  
  /* ホバー時の装飾（パターン3） */
  .content-hover {
    transition: all 0.2s;
    margin-right: 20px;
  }
  
  .content-hover:hover {
    transform: translateY(-20px);
    border-radius: 20% 0;
    box-shadow: 0 3px 10px 0 #333;
    opacity: 0.8;   cursor:crosshair;
  }

  .content-hover a img:hover, .content-hover:hover,.content-hover a span:hover{
    cursor:crosshair;
  }


  
@media (max-width: 767.98px) {
    .content {
        width: 50vw;
      }
}