.publishedList_top{
    display:flex;
    flex-wrap: wrap;
}
.publishedList_top_img{
    width:40%;
}
.list_explanation{
    margin-bottom:20px;
}
.list_explanation > span{
    margin:auto;
}
.m_table table th{
    background:#f4f6f9;
}
.m_table table td{
    padding:11px 17px;
}
.m_table table td, .m_table table th {
    border-top: 1px solid #d8d8d7;
}
.m_table table {
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #d8d8d7;
    width: 100%;
    word-break: break-all;
    word-wrap: break-all;
}
.m_table {
    margin: 0 0 30px;
}
.m_contact {
    margin-bottom: 30px;
}
.m_contact>.heading {
    margin: 0;
    padding: 6px 0;
    color: #fff;
    background: #333;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
}
.m_contact>.contact {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 25px 0 20px;
}
.m_contact>.contact>.heading {
    margin: 0;
    border: 1px solid #b4b4b4;
    padding: 2px 10px;
    min-width: 158px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.83333;
    color: rgba(0,0,0,.6);
    text-align: center;
}
.m_contact>.contact>.body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 20px;
}
.m_contact>.contact>.body .lead {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.83333;
}
.m_contact>.contact>.body .tel {
    color: #aa1117;
    font-weight: 700;
    line-height: calc(22 / 14);
}
.m_contact>.contact>.body>:last-child {
    margin-bottom: 0!important;
}

.m_table table th{
    font-size:1.2rem;
}

.m_table table td{
    font-size:1.2rem;
    letter-spacing: 0.12em;
}

@media (max-width: 767.98px) {
    .m_contact>.contact {
        display:block;
    }
    .publishedList_top_img{
        width:100%;
    }
}